[Unit]
Description={{ service_identifier }}

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ steward_home_dir }}
ExecStart={{ steward_bin_dir }}/{{ service_identifier }} --home {{ steward_home_dir }} \
    --config {{ steward_config_file_path }} start
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ steward_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
