loop-timeout: 5s
health-check-port: {{ pigeon_metrics_port }}
paloma:
  chain-id: tumbler
  call-timeout: 20s
  keyring-dir: {{ paloma.pigeon.keyring_dir }}
  keyring-pass-env-name: $KEYRING_PASSWORD
  keyring-type: os
  signing-key: wallet
  base-rpc-url: {{ paloma.pigeon.rpc_url }}
  gas-adjustment: 10
  gas-prices: 0.001ugrain
  account-prefix: paloma
evm:
  eth-main:
    chain-id: 1
    base-rpc-url: {{ vault.mainnet.paloma.eth_rpc }}
    keyring-pass-env-name: $KEYRING_PASSWORD
    signing-key: 0x5b54998Bbc8230cA1C29a99cE655850Fc01b61E2
    keyring-dir: {{ pigeon_keys_dir }}
    gas-adjustment: 2
    tx-type: 2
  bnb-main:
    chain-id: 56
    base-rpc-url: {{ vault.mainnet.paloma.bnb_rpc }}
    keyring-pass-env-name: $KEYRING_PASSWORD
    signing-key: 0x5b54998Bbc8230cA1C29a99cE655850Fc01b61E2
    keyring-dir: {{ pigeon_keys_dir }}
    gas-adjustment: 1
    tx-type: 0
  matic-main:
    chain-id: 137
    base-rpc-url: {{ vault.mainnet.paloma.matic_rpc }}
    keyring-pass-env-name: $KEYRING_PASSWORD
    signing-key: 0x5b54998Bbc8230cA1C29a99cE655850Fc01b61E2
    keyring-dir: {{ pigeon_keys_dir }}
    gas-adjustment: 2
    tx-type: 0
  op-main:
    chain-id: 10
    base-rpc-url: {{ vault.mainnet.paloma.op_rpc }}
    keyring-pass-env-name: $KEYRING_PASSWORD
    signing-key: 0x5b54998Bbc8230cA1C29a99cE655850Fc01b61E2
    keyring-dir: {{ pigeon_keys_dir }}
    gas-adjustment: 2
    tx-type: 2
  kava-main:
    chain-id: 2222
    base-rpc-url: {{ vault.mainnet.paloma.kava_rpc }}
    keyring-pass-env-name: $KEYRING_PASSWORD
    signing-key: 0x5b54998Bbc8230cA1C29a99cE655850Fc01b61E2
    keyring-dir: {{ pigeon_keys_dir }}
    gas-adjustment: 2
    tx-type: 2
  base-main:
    chain-id: 8453
    base-rpc-url: {{ vault.mainnet.paloma.base_rpc }}
    keyring-pass-env-name: $KEYRING_PASSWORD
    signing-key: 0x5b54998Bbc8230cA1C29a99cE655850Fc01b61E2
    keyring-dir: {{ pigeon_keys_dir }}
    gas-adjustment: 2
    tx-type: 2
  gnosis-main:
    chain-id: 100
    base-rpc-url: {{ vault.mainnet.paloma.gnosis_rpc }}
    keyring-pass-env-name: $KEYRING_PASSWORD
    signing-key: 0x5b54998Bbc8230cA1C29a99cE655850Fc01b61E2
    keyring-dir: {{ pigeon_keys_dir }}
    gas-adjustment: 2
    tx-type: 2
  blast-main:
    chain-id: 81457
    base-rpc-url: {{ vault.mainnet.paloma.blast_rpc }}
    keyring-pass-env-name: $KEYRING_PASSWORD
    signing-key: 0x5b54998Bbc8230cA1C29a99cE655850Fc01b61E2
    keyring-dir: {{ pigeon_keys_dir }}
    gas-adjustment: 2
    tx-type: 2
  arbitrum-main:
    chain-id: 42161
    base-rpc-url: {{ vault.mainnet.paloma.arbitrum_rpc }}
    keyring-pass-env-name: $KEYRING_PASSWORD
    signing-key: 0x5b54998Bbc8230cA1C29a99cE655850Fc01b61E2
    keyring-dir: {{ pigeon_keys_dir }}
    gas-adjustment: 2
    tx-type: 2
