[Unit]
Description={{ service_identifier }}

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ pigeon_home_dir }}
EnvironmentFile={{ pigeon_environment_secrets_file_path }}
ExecStart={{ pigeon_bin_dir }}/{{ service_identifier }} start --config {{ pigeon_config_file_path }}
Restart=always
RestartSec=4
LimitNOFILE=500000
MemoryMax=64G
StandardOutput=append:{{ pigeon_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
