[Unit]
Description={{ service_identifier }}

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ node_home_dir }}

{% if vars[project][type].wasmvm.version is defined %}
EnvironmentFile={{ node_environment_wasmvm_file_path }}
{% endif %}

ExecStart={{ node_bin_dir }}/{{ service_identifier }} start --home {{ node_home_dir }} \
    --address "{{ node_type_settings.abci.address.default }}:{{ abci_port }}"
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ node_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target