config_dir = "{{ price_feeder_config_dir }}"
provider_timeout = "1000000s"
gas_prevote = 55000
gas_vote = 160000

[server]
listen_addr = "0.0.0.0:{{ price_feeder_port }}"
read_timeout = "20s"
verbose_cors = true
write_timeout = "20s"

[account]
address = "umee1fk8xy9xy4lkuqjdsj380capumn30wlsmsuu8pm"
chain_id = "umee-1"
validator = "umeevaloper1s0lankh33kprer2l22nank5rvsuh9ksavp35nh"

[keyring]
backend = "os"
dir = "{{ umee.price_feeder.keyring_dir }}"

[rpc]
grpc_endpoint = "validator.umee.mainnet.encapsulate.xyz:{{ grpc_port }}"
rpc_timeout = "100ms"
tmrpc_endpoint = "http://validator.umee.mainnet.encapsulate.xyz:{{ rpc_port }}"

[telemetry]
enable-hostname = true
enable-hostname-label = true
enable-service-label = true
enabled = true
global-labels = [ [ "chain_id", "umee-1",],]
service-name = "{{ service_identifier }}"
prometheus-retention-time = 100
