[Unit]
Description={{ service_identifier }}

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ supernode_home_dir }}
EnvironmentFile={{ supernode_environment_secret_file_path }}
ExecStart={{ supernode_bin_dir }}/{{ service_identifier }} start --basedir {{ supernode_home_dir }}
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ supernode_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
