##### EVM bridges options #####
# Each EVM chain needs the following
# 1. `[[axelar_bridge_evm]]` # header
# 2. `name`                  # chain name (eg. "Ethereum")
# 3. 'rpc_addr'              # EVM RPC endpoint URL; chain maintainers set their own endpoint
# 4. `start-with-bridge`     # `true` to support this chain
#
# see https://docs.axelar.dev/#/validator-zone/external-chains/overview

[[axelar_bridge_evm]]
name = "Binance"
rpc_addr = "{{ vault.testnet.axelar.axelar_bridge_evm.binance_rpc }}"
start-with-bridge = true

[[axelar_bridge_evm]]
name = "Avalanche"
rpc_addr = "{{ vault.testnet.axelar.axelar_bridge_evm.avalanche_rpc }}"
start-with-bridge = true

[[axelar_bridge_evm]]
name = "Kava"
rpc_addr = "{{ vault.testnet.axelar.axelar_bridge_evm.kava_rpc }}"
start-with-bridge = true

[[axelar_bridge_evm]]
name = "ethereum-sepolia"
rpc_addr = "{{ vault.testnet.axelar.axelar_bridge_evm.ethereum_sepolia_rpc }}"
start-with-bridge = true

[[axelar_bridge_evm]]
name = "base"
rpc_addr = "{{ vault.testnet.axelar.axelar_bridge_evm.base_rpc }}"
start-with-bridge = true

[[axelar_bridge_evm]]
name = "filecoin"
rpc_addr = "{{ vault.testnet.axelar.axelar_bridge_evm.filecoin_rpc }}"
start-with-bridge = true

[[axelar_bridge_evm]]
name = "arbitrum"
rpc_addr = "{{ vault.testnet.axelar.axelar_bridge_evm.arbitrum_rpc }}"
start-with-bridge = true

[[axelar_bridge_evm]]
name = "mantle"
rpc_addr = "{{ vault.testnet.axelar.axelar_bridge_evm.mantle_rpc }}"
start-with-bridge = true

[[axelar_bridge_evm]]
name = "linea-sepolia"
rpc_addr = "{{ vault.testnet.axelar.axelar_bridge_evm.linea_sepolia_rpc }}"
start-with-bridge = true
finality_override = "confirmation"

[[axelar_bridge_evm]]
name = "Polygon"
rpc_addr = "{{ vault.testnet.axelar.axelar_bridge_evm.polygon_rpc }}"
start-with-bridge = true

[[axelar_bridge_evm]]
name = "optimism"
rpc_addr = "{{ vault.testnet.axelar.axelar_bridge_evm.optimism_rpc }}"
start-with-bridge = true

[[axelar_bridge_evm]]
name = "immutable"
rpc_addr = "{{ vault.testnet.axelar.axelar_bridge_evm.immutable_rpc }}"
start-with-bridge = true

##### message broadcasting options #####
[broadcast]
broadcaster-account = "broadcaster"
gas-adjustment = 1.0
min-timeout = "4s"
