[Unit]
Description={{ service_identifier }}

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ vald_home_dir }}
EnvironmentFile={{ vald_environment_secrets_file_path }}
EnvironmentFile={{ vald_environment_wasmvm_file_path }}
ExecStart=/usr/bin/sh -c 'echo $KEYRING_PASSWORD | {{ vald_bin_dir }}/{{ service_identifier }} vald-start \
    --home {{ vald_home_dir }} \
    --chain-id {{ axelar.chain_id }} \
    --validator-addr {{ axelar.vald.validator_address }} \
    --node {{ axelar.vald.node_address }} \
    --tofnd-host {{ axelar.vald.tofnd_host }} \
    --tofnd-port {{ tofnd_port }} \
    --log_level debug --from {{ vald_broadcaster_address }}'
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ vald_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
